<div class="row">
    <span class="title-header-left text-white font-34">CXR Images</span>
    <span class="title-header-right text-white font-34">Completed: {{ vm.diagnosis[0].length }}/20</span>
</div>
<div class="col-md-12 top-margin-sm">
    <div class="row">
        <div class="col-md-12">
            <select id="statusDropdown" ng-options="status for status in ['All', 'Done', 'Pending']" ng-model = "status" ng-change="vm.filterTable(status)">
                <option  value="" label="Filter Status" disabled selected="selected"></option>
            </select>
            <div class="table-responsive">
                <table class="table table-hover" id="cxrList">
                   <thead>
                        <tr>
                            <th>CXR ID</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.items">
                            <td><a ui-sref="app.unaided-details({ id:item.cxr_accession_number })" >{{ item.count}}</a></td>
                            <td>
                                <span class="text-blue" ng-show="item.diagnosis_diagnosis_unaided_finalized == null"> PENDING</span>
                                <span class="text-green" ng-show="item.diagnosis_diagnosis_unaided_finalized == 1"> DONE</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-5 col-xs-4">
            <ul uib-pagination ng-model="vm.pagination.page" ng-click="vm.currentPage(vm.pagination.page)" boundary-links="true" total-items="vm.pagination.total" class="pagination" items-per-page="vm.pagination.size" max-size="5" force-ellipses="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="First" last-text="Last" >
            </ul>
        </div>
        <div class="col-md-6 col-sm-7 col-xs-8" align="right">
            <nav>
                <ul class="pagination" >
                    <li class="disabled" ><a  href="" >Display</a></li>
                    <li ng-class="{'active':vm.pagination.size==10}" >
                        <a ui-sref="app.unaided({ page:1, size:10 })" >10</a>
                    </li>
                    <li ng-class="{'active':vm.pagination.size==15}" >
                        <a ui-sref="app.unaided({ page:1, size:15 })" >15</a>
                    </li>
                    <li ng-class="{'active':vm.pagination.size==20}" >
                        <a ui-sref="app.unaided({ page:1, size:20 })" >20</a>
                    </li>
                    <li ng-class="{'active':vm.pagination.size==30}" >
                        <a ui-sref="app.unaided({ page:1, size:30 })">30</a>
                    </li>
                    <li ng-class="{'active':vm.pagination.size==50}" >
                        <a ui-sref="app.unaided({ page:1, size:50 })" >50</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>