.print-container {
  padding: 20px;
  font-size: 12px;
}
.print-container .table {
  border: 0;
  page-break-inside:auto;
}
.print-head {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}
.print-head p {
  margin: 0;
}
.print-table, 
.print-table-2 {
  width: 100%;
  max-width: 100%;
}
.print-table .table th {
  border-bottom: 0;
}
.print-table>thead>tr>th, 
.print-table>tbody>tr>th, 
.print-table>tfoot>tr>th, 
.print-table>thead>tr>td, 
.print-table>tbody>tr>td, 
.print-table>tfoot>tr>td,

.print-table-2>thead>tr>th, 
.print-table-2>tbody>tr>th, 
.print-table-2>tfoot>tr>th, 
.print-table-2>thead>tr>td, 
.print-table-2>tbody>tr>td, 
.print-table-2>tfoot>tr>td,{
    padding:0 8px;
    line-height: 1.846;
    vertical-align: top;
}
.print-table>tbody>tr>td {
  border-top: 0;
}
.print-table>thead>tr>th,
.print-table-2>thead>tr>th{
  font-weight: 400;
  vertical-align: bottom;
}
.print-table thead tr,
.print-table-2 thead tr {
  border-bottom: 1px solid !important;
}
.print-table hr {
  margin-bottom: 0;
  /*margin-top: 0;*/
  border-top: 0;
  border-bottom:1px solid;
  border-color: #666;
}
.print-name {
  margin-top: 0;
}
.total {
  border-top: solid 1px !important; 
  border-left: 10px solid #fff;
}
.custom-width{
  width: 150px;
}
.signature hr{
  width: 215px;
}
.print-table-2,
.print-table-2 th,
.print-table-2 td {
  border: solid 0.5px;
}
.print-table-2 th {
  vertical-align: middle !important;
}
.print-table-2 .awb-col{
  /*width: 105px;*/
}
.item-label,
.item-label-md {
  width: 100px;
  display: inline-block;
}
.item-label-md {
  width: 150px;
}
.item-right {
  margin-left:5px;
}
.blank,
.blank-md {
  display: inline-block;
  text-align: right;
  margin-left: 10px;
  width: 150px;
  border-bottom: solid 1px;
}
.blank-md {
  width: 200px;
}
/* addons */

.b-bottom-0 {
  border-bottom: 0px !important;
}

.b-top-0 {
  border-top: 0px !important;
}
.padding-10 {
  padding: 10px;
} 
.label-width {
  width: 20px;
}

.label-70 {
  width: 70px;
}
.print-footer {
  width: 30%;
  display: inline-block;
}
.print-footer .footnote {
  margin-left: 70px;
}
.print-footer input[type="checkbox"]:after {
  border: 1px solid !important;
}
@media print {
  * { 
    color: black; 
    background: white; 
    font-size: 7pt;
     
  }

    .page {
        background-color: white;
        height: 100%;
        width: 100%;
        /*position: fixed;*/
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 90%;
    }
    .print-table {
      width: 100%;
    }
    .print-head, 
    .print-footer {
      width: auto;
      display: inline-block;
    }
    .print-footer {
      margin-left: 20px;
    }
    .blank {
      width: 80px;
    }
    .wide-col {
      width: 30%;
    }
}