<span class="title-header-left text-white font-34">Dashboard</span>
<!-- <div class="col-md-12 top-margin-sm clearfix">  
	<div class="row">
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center aqua">
					<span class="text-white font-34">Assisted</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center  denim-blue">
					<h1 class="text-white">50%</h1>
					<span class="text-light-grey font-24">3 of 6 DONE<br/><br/>
					</span>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center aqua">
					<span class="text-white font-34">Official</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center denim-blue">
					<h1 class="text-white">25%</h1>
					<span class="text-light-grey font-24">2 of 8 DONE<br/><br/>
					</span>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center aqua">
					<span class="text-white font-34">Shared by Me</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center denim-blue">
					<h1 class="text-white">71%</h1>
					<span class="text-light-grey font-24">5 of 7 DONE<br/><br/>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center aqua">
					<span class="text-white font-34">Shared to Me</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center denim-blue">
					<h1 class="text-white">31%</h1>
					<span class="text-light-grey font-24">4 of 13 DONE<br/><br/>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 top-margin-sm clearfix"><br /></div>
	<div class="col-md-12 top-margin-sm clearfix"><br /></div>
	<div class="col-md-12 top-margin-sm clearfix"><br /></div>
	<div class="row">
		<div class="col-md-4">

			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<span class="font-34"><strong>87%</strong> Overall Accuracy</span>
					<canvas id="accuracy-graph"></canvas>
					</span>
					<br />
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<span class="font-34"><strong>98%</strong> Positives Accuracy</span>
					<canvas id="positive-graph"></canvas>
					<br />
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<span class="font-34"><strong>78%</strong> Negatives Accuracy</span>
					<canvas id="negative-graph"></canvas>
					<br />
				</div>
			</div>
		</div>
		<div class="col-md-3">
			
		</div>
		<div class="col-md-3">
			
		</div>
	</div>
	
</div>
 -->