<span class="title-header-left text-white font-34">My Profile</span>
<div class="col-md-12 top-margin-sm"> 
    <div class="row"> 
        <div class="col-md-4 font-18">
            <div class="well">
                <div class="row">
                    <h2>{{ vm.item.user_last_name }}, {{ vm.item.user_first_name }}</h2>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-fw fa-address-card"></i> &nbsp; {{ vm.item.user_id | limitTo: 8 }}
                            </li>
                            <li>
                                <i class="fa fa-fw fa-envelope"></i> &nbsp; {{ vm.item.user_email }}
                            </li>
                            <li>
                                <i class="fa fa-fw fa-phone"></i> &nbsp; {{ vm.item.user_phone }}
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>