<span class="title-header-left text-white font-34">Aided Evaluation</span>
<div class="col-md-12 top-margin-sm">
    <a  class="btn dark-grey btn-sm"
        ng-click = "vm.finalizeEvaluation(vm.item)">
        <i class = "fa fa-reply fa-lg"></i> Back
    </a>
</div>
<div class= "col-md-12 top-margin-sm">
    <div class="row" ng-if="vm['radiologist']">
        <div class="wrapper-radiologist-aided">
            <div class="box1-radiologist-aided well padding-pls image-container">
                <img ng-src="{{ vm.imageUrl }}" style="width: 75%; padding-top: 20px;"/>
            </div>
            <div class="box2-radiologist-aided well padding-pls image-container">
                <img ng-src="{{ vm.imageUrlAided }}" style="width: 75%; padding-top: 20px;"/>
            </div>
            <div class="box3-radiologist-aided well padding-pls">
                <h3 class="text-blue-grey">Patient Information</h3>
                <span class="font-18">Sex: {{vm.item.cxr_sex}}</span>
                <br />
                <span class="font-18">Age: {{vm.item.cxr_age}}</span>
            </div>
            <div class="box4-radiologist-aided well padding-pls">
                <h3 class="text-blue-grey">Risk Scores</h3>
                <div class="row font-16">
                    <div class="col-md-4">
                        <span><strong>Abnormal Non-Pneumonia: </strong></span>
                    </div>
                    <div class="col-md-2">
                        {{ vm.fixedProbability(vm.item.cxr_abnormal_nonpneumonia_probability) }}%
                    </div>
                    <div class="col-md-4">
                        <span><strong>COVID-Pneumonia: </strong></span>
                    </div>
                    <div class="col-md-2">
                        {{ vm.fixedProbability(vm.item.cxr_covid_pneumonia_probability) }}%
                    </div>
                </div>
                <div class="row font-16">
                    <div class="col-md-4">
                        <span><strong>Non-COVID Pneumonia: </strong></span>
                    </div>
                    <div class="col-md-2">
                        {{ vm.fixedProbability(vm.item.cxr_noncovid_pneumonia_probability) }}%
                    </div>
                    <div class="col-md-4">
                        <span><strong>Normal: </strong></span>
                    </div>
                    <div class="col-md-2">
                        {{ vm.fixedProbability(vm.item.cxr_normal_probability) }}%
                    </div>
                </div>
            </div>
            <div class="box5-radiologist-aided well padding-pls">
                <h3 class="text-blue-grey">
                    <div class="col-md-9">
                        Notes
                    </div>
                    <div class="col-md-3" ng-if = "!vm.item.diagnosis_diagnosis_aided_finalized">
                        <a ng-click="vm.editNotes = true" ng-show="vm.item.diagnosis_diagnosis_aided_notes">
                            <i class="fa fa-fw fa-edit"></i>
                        </a>
                    </div>
                </h3>
                <div class="form-group" ng-show="!vm.item.diagnosis_diagnosis_aided_notes || vm.editNotes" ng-if="!vm.item.diagnosis_diagnosis_aided_finalized">
                    <textarea name="diagnosis_aided_notes" id="diagnosis_aided_notes" class="form-control white" ng-model="vm.diagnosis_aided_notes" rows="2"></textarea>
                </div>
                <div class="row">
                    <div class="form-group" ng-show="!vm.item.diagnosis_diagnosis_aided_notes || vm.editNotes">
                        <button class="btn default" type="button" ng-click="vm.publishNotes(vm.item)" ng-if="vm.diagnosis_aided_notes">Submit</button>
                    </div>
                    <div class="form-group" ng-show="vm.editNotes">
                        <button class="btn default" type="button" ng-click="vm.editNotes=false; vm.diagnosis_aided_notes=''">Cancel</button>
                    </div>
                </div>
                <br />
                <br />
                <span class="white font-16 text-grey" style="text-align: justify; display:block;" ng-show="vm.item.diagnosis_diagnosis_aided_notes" ng-hide="vm.editNotes==true">{{ vm.item.diagnosis_diagnosis_aided_notes }}</span>
                <span class="white font-16 text-grey" style="text-alignL justify; display:block;" ng-show="vm.item.diagnosis_diagnosis_aided_notes == null" ng-if="vm.diagnosis_diagnosis_aided_finalized">N/A</span>
            </div>
            <div class="box6-radiologist-aided well padding-pls">
                <h3>
                    <div class="col-md-9">Diagnosis</div>
                    <div class="col-md-3" ng-if="!vm.item.diagnosis_diagnosis_aided_finalized">
                        <a ng-click="vm.editDiagnosis = true" ng-show="vm.item.diagnosis_diagnosis_aided">
                            <i class="fa fa-fw fa-edit"></i>
                        </a>
                    </div>
                </h3>
                <br />
                <br />
                <div class="btn-group" uib-dropdown ng-show="!vm.item.diagnosis_diagnosis_aided || vm.editDiagnosis">
                    <button id="aided-diagnosis" class="btn" type="button" uib-dropdown-toggle>
                        {{ vm.item.diagnosis_diagnosis_aided }}
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="aided-diagnosis">
                        <li role="menuitem"><a ng-click="vm.setDiagnosis('abnormal')">Abnormal Non-pneumonia</a></li>
                        <li role="menuitem"><a ng-click="vm.setDiagnosis('covid')">COVID Pneumonia</a></li>
                        <li role="menuitem"><a ng-click="vm.setDiagnosis('pneumonia')">Non-COVID Pneumonia</a></li>
                        <li role="menuitem"><a ng-click="vm.setDiagnosis('normal')">Normal</a></li>
                    </ul>
                </div>
                <button class="btn default" type="button" ng-click="vm.publishDiagnosis(vm.item)" ng-if="vm.diagnosis">Confirm</button>
                <span class="label label-success text-large font-24" ng-show="vm.item.diagnosis_diagnosis_aided==='normal' && !vm.editDiagnosis">Normal</span>
                <span class="label label-danger text-large font-24" ng-show="vm.item.diagnosis_diagnosis_aided==='covid' && !vm.editDiagnosis">COVID Pneumonia</span>
                <span class="label label-primary text-large font-24" ng-show="vm.item.diagnosis_diagnosis_aided==='abnormal' && !vm.editDiagnosis">Abnormal Non-pneumonia</span>
                <span class="label label-warning text-large font-24" ng-show="vm.item.diagnosis_diagnosis_aided==='pneumonia' && !vm.editDiagnosis">Non-COVID Pneumonia</span>
                <br />
            </div>
        </div> 
    </div>
    <div ng-if="vm['physician']">
        <div class="wrapper-physician-aided">
            <div class="box1-physician-aided well padding-pls image-container">
                <img ng-src="{{ vm.imageUrl }}" style="width: 75%; padding-top: 20px;"/>
            </div>
            <div class="box2-physician-aided well padding-pls image-container">
                <img ng-src="{{ vm.imageUrlAided }}" style="width: 75%; padding-top: 20px;"/>
            </div>
            <div class="box3-physician-aided well padding-pls">
                <h3 class="text-blue-grey">Clinical Data</h3>
                <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td>Age</td>
                                <td>{{ vm.item.cxr_age }}</td>
                            </tr>
                            <tr>
                                <td>Sex</td>
                                <td>{{ vm.item.cxr_sex }}</td>
                            </tr>
                            <tr>
                                <td>Weight</td>
                                <td>{{ vm.item.cxr_weight }}</td>
                            </tr>
                            <tr>
                                <td>Height</td>
                                <td>{{ vm.item.cxr_height }}</td>
                            </tr>
                            <tr>
                                <td>BMI</td>
                                <td>{{ vm.item.cxr_bmi }}</td>
                            </tr>
                            <tr>
                                <td>Cardiovascular Disease</td>
                                <td>{{ vm.item.cxr_cardiovascular_disease }}</td>
                            </tr>
                            <tr>
                                <td>Cardiovascular Disease</td>
                                <td>{{ vm.item.cxr_cardiovascular_disease }}</td>
                            </tr>
                            <tr>
                                <td>Diabetes</td>
                                <td>{{ vm.item.cxr_diabetes }}</td>
                            </tr>
                            <tr>
                                <td>Cardiovascular Disease</td>
                                <td>{{ vm.item.cxr_cardiovascular_disease }}</td>
                            </tr>
                            <tr>
                                <td>Liver Disease</td>
                                <td>{{ vm.item.cxr_liver_disease }}</td>
                            </tr>
                            <tr>
                                <td>Renal Disease</td>
                                <td>{{ vm.item.cxr_renal_disease }}</td>
                            </tr>
                            <tr>
                                <td>Renal Disease</td>
                                <td>{{ vm.item.cxr_renal_disease }}</td>
                            </tr>
                            <tr>
                                <td>Chronic Neurologic or Neuromuscular Disease</td>
                                <td>{{ vm.item.cxr_chronic_neurologic_or_neuromuscular_disease }}</td>
                            </tr>
                            <tr>
                                <td>Immunodeficiency</td>
                                <td>{{ vm.item.cxr_immunodeficiency }}</td>
                            </tr>
                            <tr>
                                <td>Chronic Lung Disease</td>
                                <td>{{ vm.item.cxr_chronic_lung_disease }}</td>
                            </tr>
                            <tr>
                                <td>Chronic Lung Disease Specify</td>
                                <td>{{ vm.item.cxr_chronic_lung_disease_specify }}</td>
                            </tr>
                            <tr>
                                <td>Malignancy</td>
                                <td>{{ vm.item.cxr_malignancy }}</td>
                            </tr>
                            <tr>
                                <td>Malignancy Specify</td>
                                <td>{{ vm.item.cxr_malignancy_specify }}</td>
                            </tr>
                            <tr>
                                <td>Other co-morbid illnesses, specify</td>
                                <td>{{ vm.item.cxr_other_comorbid_illness_specify }}</td>
                            </tr>
                            <tr>
                                <td>Systolic Blood Pressure</td>
                                <td>{{ vm.item.cxr_systolic_clood_pressure }} mmHg</td>
                            </tr>
                            <tr>
                                <td>Diastolic Blood Pressure</td>
                                <td>{{ vm.item.cxr_diastolic_blood_pressure }} mmHg</td>
                            </tr>
                            <tr>
                                <td>Heart Rate</td>
                                <td>{{ vm.item.cxr_heart_rate}} beats per min</td>
                            </tr>
                            <tr>
                                <td>Respiratory Rate</td>
                                <td>{{ vm.item.cxr_respiratory_rate }} beats per min</td>
                            </tr>
                            <tr>
                                <td>Temperature</td>
                                <td>{{ vm.item.cxr_temperature }} &deg;Celsius</td>
                            </tr>
                            <tr>
                                <td>Oxygen Saturation</td>
                                <td>{{ vm.item.cxr_O2_saturation }}%</td>
                            </tr>
                            <tr>
                                <td>P/R Ratio</td>
                                <td>{{ vm.item.cxr_pfratio }}</td>
                            </tr>
                            <tr>
                                <td>Lung examination</td>
                                <td>{{ vm.item.cxr_lung_exam }}</td>
                            </tr>
                            <tr>
                                <td>Lung examination other:</td>
                                <td>{{ vm.item.cxr_lung_exam_other_specify }}</td>
                            </tr>
                            <tr>
                                <td>Hemoglobin</td>
                                <td>{{ vm.item.cxr_hemoglobin }}</td>
                            </tr>
                            <tr>
                                <td>WBC Count</td>
                                <td>{{ vm.item.cxr_WBCcount }}</td>
                            </tr>
                            <tr>
                                <td>Neutrophil Count</td>
                                <td>{{ vm.item.cxr_neutrophils }}</td>
                            </tr>
                            <tr>
                                <td>Lymphocyte</td>
                                <td>{{ vm.item.cxr_platelets }}</td>
                            </tr>
                            <tr>
                                <td>D-dimer</td>
                                <td>{{ vm.item.cxr_Ddimer }}</td>
                            </tr>
                            <tr>
                                <td>Procalcitonin</td>
                                <td>{{ vm.item.cxr_procalcitonin }}</td>
                            </tr>
                            <tr>
                                <td>Ferritin</td>
                                <td>{{ vm.item.cxr_ferritin }}</td>
                            </tr>
                            <tr>
                                <td>eGFR</td>
                                <td>{{ vm.item.cxr_EGFRbycystatinc }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h3 class="text-blue-grey">Impression</h3>
                <span class="white font-16 text-grey" style="text-align: justify; display:block;">{{ vm.item.cxr_cxr_result }}</span>
            </div>
            <div class="box4-physician-aided well padding-pls">
                <h3 class="text-blue-grey">Risk Scores</h3>
                <div class="row font-18">
                    <div class="col-md-4">
                        <span><strong>Abnormal Non-Pneumonia: </strong></span>
                    </div>
                    <div class="col-md-2">
                        {{ vm.fixedProbability(vm.item.cxr_abnormal_nonpneumonia_probability) }}%
                    </div>
                    <div class="col-md-4">
                        <span><strong>COVID-Pneumonia: </strong></span>
                    </div>
                    <div class="col-md-2">
                        {{ vm.fixedProbability(vm.item.cxr_covid_pneumonia_probability) }}%
                    </div>
                </div>
                <div class="row font-18">
                    <div class="col-md-4">
                        <span><strong>Non-COVID Pneumonia: </strong></span>
                    </div>
                    <div class="col-md-2">
                        {{ vm.fixedProbability(vm.item.cxr_noncovid_pneumonia_probability) }}%
                    </div>
                    <div class="col-md-4">
                        <span><strong>Normal: </strong></span>
                    </div>
                    <div class="col-md-2">
                        {{ vm.fixedProbability(vm.item.cxr_normal_probability) }}%
                    </div>
                </div>
            </div>
            <div class="box5-physician-aided well padding-pls">
                <h3 class="text-blue-grey">
                    <div class="col-md-9">
                        Notes
                    </div>
                    <div class="col-md-3" ng-if="!vm.item.diagnosis_diagnosis_aided_finalized">
                        <a ng-click="vm.editNotes = true" ng-show="vm.item.diagnosis_diagnosis_aided_notes">
                            <i class="fa fa-fw fa-edit"></i>
                        </a>
                    </div>
                </h3>
                <br />
                <div class="form-group" ng-show="!vm.item.diagnosis_diagnosis_aided_notes || vm.editNotes">
                    <textarea name="diagnosis_aided_notes" id="diagnosis_aided_notes" class="form-control white" ng-model="vm.diagnosis_aided_notes" rows="6"></textarea>
                </div>
                <div class="row">
                    <div class="form-group" ng-show="!vm.item.diagnosis_diagnosis_aided_notes || vm.editNotes">
                        <button class="btn default" type="button" ng-click="vm.publishNotes(vm.item)" ng-if="vm.diagnosis_aided_notes">Submit</button>
                    </div>
                    <div class="form-group" ng-show="vm.editNotes">
                        <button class="btn default" type="button" ng-click="vm.editNotes=false; vm.diagnosis_aided_notes=''">Cancel</button>
                    </div>
                </div>
                <br />
                <br />
                <span class="white font-16 text-grey" style="text-align: justify; display:block;" ng-show="vm.item.diagnosis_diagnosis_aided_notes" ng-hide="vm.editNotes==true">{{ vm.item.diagnosis_diagnosis_aided_notes }}</span>
                <span class="white font-16 text-grey" style="text-alignL justify; display:block;" ng-show="vm.item.diagnosis_diagnosis_aided_notes == null" ng-if="vm.diagnosis_diagnosis_aided_finalized">N/A</span>
            </div>
            <div class="box6-physician-aided well padding-pls">
                <h3 class="text-blue-grey">
                    <div class="col-md-9">
                        Diagnosis
                    </div>
                    <div class="col-md-3" ng-if="!vm.item.diagnosis_diagnosis_aided_finalized">
                        <a ng-click="vm.editDiagnosis = true" ng-show="vm.item.diagnosis_diagnosis_aided">
                            <i class="fa fa-fw fa-edit"></i>
                        </a>
                    </div>
                </h3>
                <br />
                <br />
                <div class="btn-group" uib-dropdown ng-show="!vm.item.diagnosis_diagnosis_aided || vm.editDiagnosis">
                    <button id="aided-diagnosis" class="btn" type="button" uib-dropdown-toggle>
                        {{ vm.item.diagnosis_diagnosis_aided }}
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="aided-diagnosis">
                        <li role="menuitem"><a ng-click="vm.setDiagnosis('abnormal')">Abnormal Non-pneumonia</a></li>
                        <li role="menuitem"><a ng-click="vm.setDiagnosis('covid')">COVID Pneumonia</a></li>
                        <li role="menuitem"><a ng-click="vm.setDiagnosis('pneumonia')">Non-COVID Pneumonia</a></li>
                        <li role="menuitem"><a ng-click="vm.setDiagnosis('normal')">Normal</a></li>
                    </ul>
                </div>
                <button class="btn default" type="button" ng-click="vm.publishDiagnosis(vm.item)" ng-if="vm.diagnosis">Confirm</button>
                <span class="label label-success text-large font-24" ng-show="vm.item.diagnosis_diagnosis_aided==='normal' && !vm.editDiagnosis">Normal</span>
                <span class="label label-danger text-large font-24" ng-show="vm.item.diagnosis_diagnosis_aided==='covid' && !vm.editDiagnosis">COVID Pneumonia</span>
                <span class="label label-primary text-large font-24" ng-show="vm.item.diagnosis_diagnosis_aided==='abnormal' && !vm.editDiagnosis">Abnormal Non-pneumonia</span>
                <span class="label label-warning text-large font-24" ng-show="vm.item.diagnosis_diagnosis_aided==='pneumonia' && !vm.editDiagnosis">Non-COVID Pneumonia</span>
                <br />
            </div>  
        </div>
    </div>
</div>
